<html>
<head>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />

<script>

function test(obj)
{
var i=obj.getAttribute("id");
$.ajax({
   url: '/respond2',
   type: 'POST',
   data: JSON.stringify({ response: obj.getAttribute("id") }),
   contentType: "application/json; charset=utf-8",
   dataType: "json",
   success: function(response){
   if(obj.innerHTML=='finished'){
  obj.innerHTML='unfinished';

  obj.style.color='rgba(129, 87, 46, 0.75)';
}
else if(obj.innerHTML=='unfinished'){
  obj.innerHTML='finished';
  obj.style.color='blue';
}},
error: function(error){
console.log(error);
}
});
};


function test4()
{
document.getElementById("d2").style.visibility="hidden";

};
function test5(obj)
{
document.getElementById("d2").style.visibility="visible";
$.ajax({
   url: '/respond3',
   type: 'POST',
   data: JSON.stringify({ response: obj.getAttribute("id") }),
   contentType: "application/json; charset=utf-8",
   dataType: "json",
   success: function(response){
     var pp=String(response.response);
     var arr=pp.split(' ');
    document.getElementById("tasks").value=arr[0];
    document.getElementById("dead").value=arr[1];
    document.getElementById("texts").innerHTML=arr[2];
   },
error: function(error){
console.log(error);
}
});

};

</script>

    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <div id='picid'>
      	<img src="{{ url_for('static', filename='image/page.jpg') }}" width="100%" height="100%" />
  </div>
  <!--
  <div style="position:absolute;z-index:-1;width:100%;height:100%;">
      	<img src="{{ url_for('static', filename='image/star3.jpg') }}" width="100%" height="100%" />
  </div>
-->

<button style='background-color:rgba(111, 133, 221, 0.65);'>Homepage</button>

{%if trader%}
<a  href="\create" style='color:rgb(195, 70, 30); text-decoration: none;'>
<button >Add new good</button>
</a>

{%endif%}
{%if trader%}
<a  href="\goodcontrol" style='color:rgb(195, 70, 30); text-decoration: none;'>
<button >good control</button>
</a>
{%endif%}
<a  href="\search" style='color:rgb(195, 70, 30); text-decoration: none;'>
<button >search goods</button>
</a>
{%if not trader%}
<a  href="\goodlist" style='color:rgb(195, 70, 30); text-decoration: none;'>
<button >good control</button>
</a>
{%endif%}

<a  href="\" style='color:rgb(195, 70, 30); text-decoration: none;'>
<button >regist</button>
</a>
<a  href="\login" style='color:rgb(195, 70, 30); text-decoration: none;'>
<button >log in</button>
</a>

<br><br>
<div id=d1 style='position:absolute;margin-left:7%;width:10%'>
<table >
   <thead>
      <tr>
        <th>Trader</th>




      </tr>
   </thead>

   <tbody>
      {% for p in Users %}
         <tr>
            <td>
              {{ p.name }}
              </td>
              <td>
              <a  href=\good\{{p.id}} style='color:rgb(195, 70, 30); text-decoration: none;'>
              <button  id={{p.id}}>{{'view'}}</button>
            </a>
            </td>
         </tr>
      {% endfor %}
   </tbody>
</table>
</div>
{% for p in total %}
<div style='border:10px solid #000;width:886px ;margin:auto'>
<h1 style='text-align:left'>{{p[0].classify}}</h1>
<table cellspacing='30' style='text-align:center' rules='none' cellpadding="30">

<tr>

  {% for q in p %}
  <td>
  <img src={{ url_for('static', filename= q.url ) }} width="150px" height="150px" />
  <br>
  {{ q.name}}
  <br>
  price:{{ q.price }}
  <br>

  <a href=/buygood/{{q.id}}><button  id={{q.id}}>{{'buy goods'}}</button>
  </a>

  </td>

  {% endfor %}
</tr>
  </table>

</div>
</br>
{% endfor %}
<div style='width:100%'>
<table cellspacing='50' border="10" style='text-align:center' rules='none' cellpadding="30" >
<tr>
  {% for p in randoms %}
  {%if randoms.index(p)%4==0 and randoms.index(p)!=0%}
  </tr><tr>
  {% endif %}
  <td>
  <img src={{ url_for('static', filename= p.url ) }} width="150px" height="150px" />
  <br>
  {{ p.name}}
  <br>
  {{ p.classify}}
  <br>
  price:{{ p.price }}
  <br>
  <a href=/buygood/{{p.id}}><button  id={{p.id}}>{{'buy goods'}}</button>
  </a>
  </td>

  {% endfor %}
</tr>
  </table>
</div>
<div id=d2>

  <p><em>task name:   <input type="text" class='ds' id='tasks'></em></p>
  <p><em>deadline:&ensp;&ensp;<input type="text" class='ds' id='dead'></em></p>
  <p style='position:relative'><em style='position:absolute'>Description:</em><em></em><textarea rows="10"cols='50'class='ds' id='texts'></textarea></p><br>
  <button style='left:10%;position:absolute;top:90%' onclick='test4()'>confirm</button><button style='left:70%;position:absolute;top:90%' onclick='test4()'>cancel</button>

</div>
<a  href="\main" style='color:rgb(195, 70, 30); text-decoration: none;'>
<button >换一换</button>
</a>
{% if message %}
<P style="color:blue">{{ message }}</p>
{% endif %}
<br><br>
{% if id %}
<p style='color:rgba(30, 157, 168, 0.78)'>{{'user : '+id }}<P>
{% endif %}

<a  href="\delete" style='color:rgb(195, 70, 30); text-decoration: none;'>
<button >delete all</button>
</a>
</body>
</html>
