{% extends "base.html" %}

{% block content %}
<html>
<head>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}" >
    </script>
<link rel="stylesheet" href="/static/css/main.css">
</head>
<body style="text-align:center">


<br>
<p >input the good you want to search: <input type="text" id='ds'></p>
<div id='d1' style="text-align:center">

</div>
{% if message %}
{{ message }}
{% endif %}




</body>
</html>
{% endblock %}
